<!DOCTYPE html>
<html>
<head>
<title>error</title>
<SCRIPT language="JavaScript">

   
        alert('操作完成');
        location.href='/record';
    

</SCRIPT>
</head>
<body>
<form>



</form>
</body>
</html>