<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"-->
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/kendo/css/kendo.common-material.min.css">
    <link rel="stylesheet" href="/kendo/css/kendo.material.min.css">
    <script src="/jquery/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="/kendo/js/kendo.all.min.js"></script>
    <script src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
    <title>首頁</title>
   
     
</head>
<body>
    <img src="https://1.bp.blogspot.com/-5LGvxa85lK4/XeZzyMnlLaI/AAAAAAAARtM/IJTYFA6b35QWYmQHhta9u1cTPFiAGqI8gCLcBGAsYHQ/s1600/homeTitlePicture.jpg" >
<div id="container">
    <nav>
        <div id="logo">
            會議管理系統                
        </div>
        <ul id=menu>
            <li><a href="/homepage">首頁</a></li>
            <li><a href="/reservation">會議查詢/預約</a></li>
            <li><a href="/checkin">會議簽到</a></li>
            <li><a href="/record">會議記錄</a></li>
            <li><a href="/edit">編輯會議/參加人員</a></li>
            <li><a href="/membertest">excel測試</a></li>
        </ul>
    </nav>   
    <header>
        <div id="links">
            <a href="/logout">登出</a>
        </div>
        <div id="user-name">
            <h3>使用者:<%= user.username %></h3>
        </div>
    </header> 
    <main>
        <div class="inputer">
            會議代碼： <input type="text" name="updatecode" class="inparea"id="updatecode">
            </div>
       <div class="inputer">
        預更改的會議名稱：<input type="text" name="updatetopic" class="inparea"id="updatetopic">
        </div>
              <div class="inputer">
                      預更改會議室：<select name="updateroom" class="inparea" type="int"id="updateroom">
                              <option value ="1">第一會議室</option>
                              <option value ="2">第二會議室</option>
                              <option value ="3">第三會議室</option>
                              <option value ="4">第四會議室</option>
                      </select>
              </div>                          
              <div class="inputer">
                     預更改開會日期：<input type="date" name="updateopendate" class="inparea" type="date"id="updateopendate">
              </div>
              
                      <div class="inputer">
                      預更改開始時間：<select  class="inparea" name="updatestarttime"type="text"id="updatestarttime">
                        <option value ="7:00">7:00</option>
                        <option value ="8:00">8:00</option>
                        <option value ="9:00">9:00</option>
                        <option value ="10:00">10:00</option>
                        <option value ="11:00">11:00</option>
                        <option value ="12:00">12:00</option>
                        <option value ="13:00">13:00</option>
                        <option value ="14:00">14:00</option>
                        <option value ="15:00">15:00</option>
                        <option value ="16:00">16:00</option>
                        <option value ="17:00">17:00</option>
                      </select>
                      </div>        
                      <div class="inputer">
                     預更改結束時間：<select  class="inparea" name="updateendtime" type ="text"id="updateendtime">
                                <option value ="8:00">8:00</option>
                                <option value ="9:00">9:00</option>
                                <option value ="10:00">10:00</option>
                                <option value ="11:00">11:00</option>
                                <option value ="12:00">12:00</option>
                                <option value ="13:00">13:00</option>
                                <option value ="14:00">14:00</option>
                                <option value ="15:00">15:00</option>
                                <option value ="16:00">16:00</option>
                                <option value ="17:00">17:00</option>
                                <option value ="18:00">18:00</option>
                              </select>
                      </div>
                              <div class="inputer">
                                預更改開會單位：<select name="updatedepartment" class="inparea" type="text"id="updatedepartment">
                                        <option value ="婦產科">婦產科</option>
                                        <option value ="精神科">精神科</option>
                                        <option value ="泌尿科">泌尿科</option>
                                        <option value ="科科">科科</option>
                                      </select>
                              </div>
              <div class="form-btn">
                  <button type="submit" value="submit" class="btn btn-primary"id="insert_btn">編輯會議</button>
            </div> 
    </main> 
</div>
</body>
</div>    
    <script>
        $(document).ready(function(){ 
            $("#insert_btn").click(function(){
         var params = {  
                "UPDATEROOM" : $("#updateroom").val(),
                "UPDATESTARTTIME" : $("#updatestarttime").val(),
                "UPDATEENDTIME" : $("#updateendtime").val(),
                "UPDATEOPENDATE" : $("#updateopendate").val(),
                "UPDATEDEPARTMENT" : $("#updatedepartment").val(),
                "UPDATETOPIC" :$("#updatetopic").val(),
                "UPDATECODE" :$("#updatecode").val(),
         };
         $.ajax({
    
    type:"post",
    url:"/update",
    dataType:"json",
    data: params
    }).done(function(e){
    if(e == true){
        alert("編輯成功");
    }
})
}
    
)}
        )
          
    
        </script>      

    </html>