<!DOCTYPE html>
<html>
<head>
<title>error</title>
<SCRIPT language="JavaScript">

   
        alert('請重新輸入,注意日期不能為空');
        location.href='/reservation';
    

</SCRIPT>
</head>
<body>
<form>



</form>
</body>
</html>