<!DOCTYPE html>
<html>
<head>
<title>error</title>
<SCRIPT language="JavaScript">

   
        alert('輸入有誤請重新輸入');
        location.href='/edit';
    

</SCRIPT>
</head>
<body>
<form>



</form>
</body>
</html>