<!DOCTYPE html>
<html>
<head>
<title>error</title>
<SCRIPT language="JavaScript">

   
        alert('帳號或密碼錯誤請重新輸入');
        location.href='/';
    

</SCRIPT>
</head>
<body>
<form>



</form>
</body>
</html>