<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"-->
    <title>首頁</title>
    <style>
    .body, html{
        width: 100%;
        height: 100%;
       
    }
    *{
        margin: 0;
        padding: 0;
        font-family: monospace;
        box-sizing: border-box;
        transition: all ease-in-out .2s;   
    }
    #container{
        top: 50PX;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    nav{
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        width: 200px;
        margin-left: 0px;
        height: calc(100%) ;   
        background-color: #333333 ;
    
    }
    #logo{
    
    height: 50px;
    background-color: #00AA00;
    color: #f7f7f7;
    text-align: center;
    line-height: 50px;
    font-size: 1.3em;
    font-family: arial;
    }
    #menu{
        width: 100%;
        background-color: #333333;
    }
    
    #menu li{
        width: 100%;
        height: 50px;
        line-height: 50px;
        
    }
    
    #menu li>a { 
        font-size: 0.8em;
        font-family: arial;
        width: 100%;
        height: 100%;
        color: #f7f7f7;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    #menu li:hover{
        background-color: #151515;
        
    }
    #menu li>a:hover{
        color: #1e90ff;
    }
    header{
        width: calc(100% - 200px);
        height: 50px;
        position: absolute;
        display: block;
        top: 100px;
        left: 200px;
        background-color: #00AA00;
        color: #00AA00;
        line-height: 40px;
    }
    header #links {
        
        float: right;
        height: 50px;
        display: block;
        color: #f7f7f7;
        font-size: 2em;
        
    }
    #links>a{
        text-decoration: none;
        padding: 0.25em;
        height: 100%;
        width: 100%;
        display: block;
        float: right;
        border:0.5px blue solid;
        color: blue;
    }
    
    #user-name{
        line-height: 50px;
        
        color: blue;
        float:right;
        font-size: 2em;
    }
    #user-name>p{
        color: blue;
        float:right;
        height: 100%;
        width: 100%;
    }
    
    #links:hover{
    background-color: #1e90ff;
    }
    
    main{
        top: 200px;
        position: absolute;
        left: 200px;
       
    }
    
    .main_func_text{
        color: #1322ec;
       font-size: large;
    
    }
    
    main #table{
        height: 600px;
        width: 600px; 
    }
    
    main #info-menu{
       float: left;
      }
    select{
    width: 100px;
    }
    .inputer{
        margin: 20px;
      }
     
</style>
 
  
</head>

 
  
</head>
<body>  
        <img src="/style/picture/homeTitlePicture.jpg" >
    <div id="container">
        <nav>
            <div id="logo">
                會議管理系統                
            </div>
            <ul id=menu>
                <li><a href="/homepage">首頁</a></li>
                <li><a href="/reservation">會議查詢/預約</a></li>
                <li><a href="/checkin">會議簽到</a></li>
                <li><a href="/record">會議記錄</a></li>
                <li><a href="/edit">編輯會議/參加人員</a></li>
            </ul>
        </nav>   
        <header>
              
            <div id="links">
                <a href="">登出</a>
            </div>
            <div id="user-name">
                <h3>使用者:<%= user.username %></h3>
            </div>
        </header> 
        
        
        <main> 
                <table style="border:3px #cccccc solid;" cellpadding="10" border='1' id="table">
                    <tr>
                        <td>時段/日期</td><td>周一<br>2019/11/25</td><td>周二<br>2019/11/26</td><td>周三<br>2019/11/27</td><td>周四<br>2019/11/28</td><td>周五<br>2019/11/29</td><td>周六<br>2019/11/30</td><td>周日<br>2019/12/1</td>
                    </tr>
                    <tr><td>7:00~8:00</td><td><a href="">1</a></td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>8:00~9:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>9:00~10:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>11:00~12:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>12:00~13:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>13:00~14:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>14:00~15:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>15:00~16:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>16:00~17:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <tr><td>17:00~18:00</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td></tr>
                    <div id="info-menu">       
                            <div class="main_func_text">會議排程</div>
                            <div class="inputer" id="search-date">
                                起始日期：<input type="date" name="SearchStartDate" class="inparea" id="SearchStartDate">
                                <div class="form-btn">
                                    <button type="submit" value="submit" >上一周</button>     
                                    <button type="submit" value="submit" >下一周</button>
                                </div>
                            </div>
                            <form action="datainsert" method="post">
                            <div class="main_func" id="selectByEq_fbtn">
                              <div class="main_func_text">預約會議室</div>
                             </div>
                                    <div class="inputer" name="room" type= "text" >
                                            會議室編號：<select name="meetingroom" class="inparea"type="text">
                                                    <option value ="一號會議室" >一號會議室</option>
                                                    <option value = "二號會議室">二號會議室</option>
                                                    <option value = "三號會議室">三號會議室</option>
                                                    <option value = "四號會議室">四號會議室</option>
                                            </select>
                                    </div>                          
                                    <div class="inputer" name="MeetingDate" >
                                           開會日期：<input type="date" name="opendate" class="inparea" type="Date">
                                    </div>
                                    
                                            <div class="inputer" name="start" type="text">
                                            開始時間：<select name="StartTime" class="inparea" type="text">
                                                    <option value ="7:00">7:00</option>
                                                    <option value ="8:00">8:00</option>
                                                    <option value ="9:00">9:00</option>
                                                    <option value ="10:00">10:00</option>
                                                    <option value ="11:00">11:00</option>
                                                    <option value ="12:00">12:00</option>
                                                    <option value ="13:00">13:00</option>
                                                    <option value ="14:00">14:00</option>
                                                    <option value ="15:00">15:00</option>
                                                    <option value ="16:00">16:00</option>
                                                    <option value ="17:00">17:00</option>
                                            </select>
                                            </div>        
                                            <div class="inputer"  name="end" type="text">
                                                    結束時間：<select name="endtime" class="inparea"type="text">
                                                            <option value ="8:00">8:00</option>
                                                            <option value ="9:00">9:00</option>
                                                            <option value ="10:00">10:00</option>
                                                            <option value ="11:00">11:00</option>
                                                            <option value ="12:00">12:00</option>
                                                            <option value ="13:00">13:00</option>
                                                            <option value ="14:00">14:00</option>
                                                            <option value ="15:00">15:00</option>
                                                            <option value ="16:00">16:00</option>
                                                            <option value ="17:00">17:00</option>
                                                            <option value ="18:00">18:00</option>
                                                    </select>
                                            </div>
                                                    <div class="inputer" name="unit" type="text">
                                                            開會單位：<select name="position" class="inparea"type="text">
                                                                    <option value ="婦產科">婦產科</option>
                                                                    <option value ="精神科">精神科</option>
                                                                    <option value ="泌尿科">泌尿科</option>
                                                                    <option value ="科科">科科</option>
                                                            </select>
                                                    </div>               
                                    <div class="form-btn">
                                    <button type="submit" value="submit" class="btn btn-primary">下一步</button>
                                    </div>
                            </form>
                                <!--/div--> 
                           
                              
                            </div>
                    </div>    
                </main>  
        </div>
    </div>    
</body>
<script>
$(document).ready(function(){
    $("#MeetingDate").kendoDatePicker({ value: new Date(), format: "yyyy/MM/dd" });
    $("#SearchStartDate").kendoDatePicker({ value: new Date(), format: "yyyy/MM/dd" });
});</script>
</html>